header{
    position: relative; 
    width:100vw;
	height:20vh;
    background-color: rgb(78, 160, 255); 
    background-image: url(../img/pattern.png);
}

main{
    margin-left: 5px;
}

#logo{
    position:absolute ;
    width: 250px; 
    bottom: 10px;
    left: 10px;
} 
.titolo{
    font-size: 50px;
    font-style: italic;
    margin-bottom: 5px;
}

.color{
    color: rgb(115, 115, 115); 
    margin-top: 5px;
    margin-bottom: 5px;
} 

p{
    font-size:10px;
}
 
.tim{
    margin-top: 20px;
} 

.descrizione{
    font-size: 15px; 
    margin-top: 5px;
    margin-bottom: 5px;
}  

h3{
    margin-top: 20px; 
    margin-bottom: 20px;
} 

.testo-x-small{
    font-size:x-large ;
}

table{
    width: 100%;
} 

.testa{
    background-color:rgb(32, 169, 229) ; 
    text-align: left;
} 
.colore-testo{
    color: whitesmoke;
} 

.larghezza-cella{
    width: 20%; 
}

.colortable{
    background-color: rgb(177, 229, 242);
} 

.allineamento-sx{
    text-align: left;
} 

.monitor{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 200px;
}
.grafico{
    background-image: url(../img/graph.jpg); 
    width: 250px; 
    height: 200px;
} 

.info-foto{
    font-size: 30px; 
    color: whitesmoke;
}